body {
  background-color: rgb(208, 208, 208);
}

#form {
  background-color: #5d5d5d3f;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 768px;
  gap: 20px;
  border-radius: 30px;
}

#name {
  padding-top: 20px;
  border: none;
  color: rgb(85, 85, 85);
  background-color: transparent;
  text-align: center;
  font-size: 30px;
}
#lastname {
  height: 50px;
  border: none;
  color: rgb(85, 85, 85);
  background-color: transparent;
  text-align: center;
  font-size: 30px;
}
#phone {
  height: 50px;
  border: none;
  color: rgb(85, 85, 85);
  background-color: transparent;
  text-align: center;
  font-size: 30px;
}
#mail {
  height: 50px;
  border: none;
  color: rgb(85, 85, 85);
  background-color: transparent;
  text-align: center;
  font-size: 30px;
}
#submit {
  height: 50px;
  border: none;
  color: rgb(85, 85, 85);
  background-color: transparent;
  text-align: center;
  font-size: 30px;
}
#del {
  padding-bottom: 20px;
  height: 50px;
  border: none;
  color: rgb(85, 85, 85);
  background-color: transparent;
  text-align: center;
  font-size: 30px;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #b6b5b5 inset !important;
  box-shadow: 0 0 0px 1000px #b6b5b5 inset !important;
  -webkit-text-fill-color: rgb(85, 85, 85) !important;
  -webkit-border-radius: 30px;
}
